div {
    color: red;
    animation-name: test;
    animation-name: test1;
}

@keyframes test {
    from {
        font-size: 10px;
    }
    to {
        font-size: 20px;
    }
}

@keyframes test1 {
    from {
        font-size: 10px;
    }
    to {
        font-size: 20px;
    }

}